{% extends 'base.html.twig' %}

{% block title %}Talmeet{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="mb-1 pb-4" style="display:flex;align-items: center;border-bottom:1px solid #EEE;">
        <img width="200px" height="200px" src="{{ user.avatar }}" alt="avatar">
        <h2 class="ml-5">{{ user.username }}</h2>
    </div>
    <p class="text-center">{{ user.bio }}</p>
    <ul>
        <li>{{ user.gender }}</li>
        <li>{{ date('now').diff((user.birth)).format('%y years old') }}</li>
        <li>{{ user.country }}</li>
        <li>{{ user.city }}</li>
    </ul>

    <h2>Talents</h2>
    <ul>
        {% if isCurrentUser %}
            <li>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-talent">
                    Add talent
                </button>
            </li>
        {% endif %}

        {% for talent in user.talents %}
            <li>{{ talent.name }}</li>
        {% endfor %}
    </ul>

    <div class="modal fade" id="add-talent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for category in categories %}
                            <li>{{ category.name }}</li>
                                <ul>
                                    {% for talent in category.talents %}
                                        <li><a href="/add-talent?talent={{ talent.id }}">{{ talent.name }}</a></li>
                                    {% endfor %}
                                </ul>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
